In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [14]:
def class_rating(cl):
    """Определяет уровень рейтинга"""
    for i in data:
        if cl <= 2.0:
            return ('Low')
        elif cl <=4.0:
            return ('Middle')
        else:
            return ('High')

In [17]:
data['class'] = data['rating'].apply(class_rating)
data.head()

   userId  movieId  rating  timestamp   class
0       1        1     4.0  964982703  Middle
1       1        3     4.0  964981247  Middle
2       1        6     4.0  964982224  Middle
3       1       47     5.0  964983815    High
4       1       50     5.0  964982931    High

In [185]:
data2 = pd.read_csv('keywords.csv')
data2.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [203]:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль', 'вк', 'страница'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [208]:
def region(a):    
    if a in geo_data.get('Центр'):
        return 'Центр'
    else:
        return 'undefined'

In [209]:
data2['region'] = data2['keyword'].apply(region)
data2.head(10)

                      keyword     shows     region
0                          вк  64292779      Центр
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined